body {
	background-color: #FFFFE3;
}

#heading {
	margin: auto;
	width: 960px;
	font-size: 90pt;
	color: #00085C;
	font-family: monospace;
	padding-top: 10px;
	text-align: center;
}

#subheading {
	width: 960px;
	margin: auto;
	text-align: center;
	color: #333;
	font-size: 18pt;
	padding-top: 20px;
	font-family: monospace;
}

#example {
    box-shadow: 0 0 8px 0px #000 inset;

    background-color: #333;
    color: #fff;
    width: 520px;
    
    font-size: 11pt;

    
    margin: auto;
    margin-top: 35px;
    border-radius: 15px;
    margin-bottom: 35px;
    padding: 15px;
}

#boom {
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: monospace;
    font-size: 38pt;
}

#go {
	margin-top: 60px;
	text-align: center;
}

#go_but {
	border: none;
	border-radius: 15px;
	background-color: #00085c;
	color: #fff;
	font-family: sans-serif;
	padding: 15px;
	font-size: 18pt;
}

#go_but:hover {
	box-shadow: 0 0 8px 0px #00085c;
}
